/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #fff;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}


/*=============== THEME ===============*/
.change-theme{
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.change-theme:hover{
    color: var(--first-color);
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    --first-color: hsl(228, 66%, 62%);
    --second-color: hsl(25, 57%, 54%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 70%);
    --border-color: hsl(228, 16%, 8%);
    --body-color: hsl(228, 12%, 8%);
    --container-color: hsl(228, 16%, 12%);
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/

.dark-theme .home__search,
.dark-theme .swiper-button-next,
.dark-theme .swiper-button-prev{
    border: 3px solid rgb(28, 26, 61);
}
.dark-theme .home__search input{
    background-color: transparent;
}
.dark-theme .nav__menu,
.dark-theme .home__img,
.dark-theme .popular__card:hover,
.dark-theme .value__img,
.dark-theme .accordion-open,
.dark-theme .accordion-open .value__accordion-icon,
.dark-theme .accordion-open .value__accordion-arrow,
.dark-theme .contact__img,
.dark-theme .contact__card-box:hover,
.dark-theme .scrollup{
    box-shadow: none;
}
.dark-theme .value__orbe,
.dark-theme .value__accordion-icon,
.dark-theme .value__accordion-arrow,
.dark-theme .contact__orbe,
.dark-theme .contact__orbe i,
.dark-theme .contact__card-button,
.dark-theme .subscribe__container{
    background-color: var(--container-color);
}
.dark-theme .subscribe__container{
    border: 3px solid rgb(28, 26, 61);
}
.dark-theme .subscribe__description{
    color: var(--text-color);
}
.dark-theme::-webkit-scrollbar{
    background-color: hsl(228, 4%, 15%);
}
.dark-theme::-webkit-scrollbar-thumb{
    background-color: hsl(228, 4%, 25%);
}
.dark-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsl(228, 4%, 35%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .grid {
    display: grid;
  }
  
  .section {
    padding: 4.5rem 0 2rem;
  }
  
  .section__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
  }
  
  .section__title span {
    color: var(--second-color);
  }
  
  .section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--second-color);
  }

.main {
    overflow: hidden; /* For the animations ScrollReveal*/
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__logo{
    color: #fff;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__logo i{
    font-size: 1rem;
}
.nav__logo:hover{
    color: var(--first-color);
}
@media screen and (max-width: 1023px) {
    .nav__menu{
        position: fixed;
        bottom: 1rem;
        background-color: var(--container-color);
        box-shadow: 0.5px 2px 10px 10px hsla(238, 66%, 55%, .15);
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.30rem 3rem;
        border-radius: 1.25rem;
        transition: .4s;
    }
    .nav__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__link{
        color: var(--text-color);
        display: flex;
        padding: 0.5rem;
        border-radius: 50%;
    }
    .nav__link i{
        font-size: 1.25rem;
    }
    .nav__link span{
        display: none;
    }
}

/*change backgr header*/
.scroll-header{
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(228, 4%, 15%, .1);
}
.scroll-header .nav__logo{
    color: var(--first-color);
}
.scroll-header .change-theme{
    color: var(--title-color);
}

/*Home*/
.home{
    background: linear-gradient(170deg,
                hsl(0, 0%, 22%) 0%,
                hsl(0, 0%, 6%)30%);
}
.home__container{
    padding-top: .5rem;
    row-gap: 1.5rem;
}
.home__title,
.home__value-number{
    color: #fff;
}
.home__title{
    font-size: var(--biggest-font-size);
    line-height: 120%;
    margin-bottom: 1.25rem;
}
.home__description{
    color: var(--text-color-light);
    margin-bottom: 2rem;
}
.home__search{
    background-color: var(--body-color);
    padding: .35rem .35rem .35rem .55rem;
    display: flex;
    align-items: center;
    border-radius: .75rem;
    border: 3px solid var(--text-color-light);
    margin-bottom: 2rem;
}
.home__search i{
    font-size: 1.25rem;
    color: var(--first-color);
}
.home__search-input{
    width: 90%;
    background-color: var(--body-color);
    color: var(--text-color);
    margin: 0 .5rem;
}
.home__search-input::placeholder{
    color: var(--text-color-light);
}
.home__value{
    display: flex;
    column-gap: 2.5rem;
}
.home__value-number{
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}
.home__value-number span{
    color: var(--second-color)
}
.home__value-description{
    display: flex;
    color: var(--text-color-light);
    font-size: var(--smaller-font-size);
}
.home__images{
    position: relative;
    display: flex;
    justify-content: center;
}
.home__orbe{
    width: 265px;
    height: 284px;
    background: linear-gradient(180deg,
               hsl(0,0%, 16%) 93%,
               hsl(0, 0%, 67%) 100%);
    border-radius: 135px 135px 0 0;
}
.home__img{
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    display: inline-flex;
    align-items: flex-end;
    bottom: -1.5rem;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
}
.button{
    margin-left: auto;
    display: inline-block;
    background: linear-gradient(101deg,
                hsl(228, 66%, 53%),
                hsl(228, 66%, 47%));
    color: #fff;
    padding: 14px 28px;
    border-radius: .5rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    box-shadow: .3s;
    cursor: pointer;
}
.button:hover{
    box-shadow: 0 4px 12px hsla(228, 66%, 45%, .25);
}
.nav__button{
    display: none;
}

/*Active link
.active-link{
    background: linear-gradient(101deg, hsl(228, 66%, 53%), hsl(228, 66%, 47%));
    color: #fff;
}*/

/*logo*/
.logos__container{
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
    justify-items: center;
}
.logos__img img{
    height: 80px;
    opacity: 2;
    transition: .3s;
}
.logos__img img:hover{
    opacity: .6;
}

/*Popular*/
.popular__container{
    padding: 1rem 0 5rem;
}
.popular__card{
    width: 290px;
    background-color: var(--container-color);
    padding: .5rem .5rem 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
    transition: .4s;
}
.popular__img{
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.popular__data{
    padding: 0 1rem 0 .5rem;
}
.popular__price{
    font-size: var(--h2-font-size);
    color: var(--text-color);
    margin-bottom: .25rem;
}
.popular__price span{
    color: var(--second-color);
}
.popular__title{
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}
.popular__description{
    font-size: var(--small-font-size);
}
.popular__card:hover{
    box-shadow: 0 12px 16px hsla(228, 66%, 45%, .1) ;
}

/*Swiper*/

.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
}
.swiper-button-next,
.swiper-button-prev{
    top: initial;
    bottom: 0;
    width: initial;
    height: initial;
    background-color: var(--container-color) ;
    border: 1px solid var(--text-color-light);
    padding: 6px;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--first-color);
}
.swiper-button-prev{
    left: calc(50% - 3rem);
}
.swiper-button-next{
    right: calc(50% - 3rem);
}

/*Value__container*/

.value__container{
    row-gap: 3rem;
}
.value__images{
    position: relative;
    display: flex;
    justify-content: center;
}
.value__orbe{
    width: 266px;
    height: 316px;
    background-color: hsl(228, 24%, 97%);
    border-radius: 135px 135px 16px 16px;
}
.value__img{
   /* position: inherit;*/
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
}
.value__description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}
.value__accordion{
    display: grid;
    row-gap: 1.5rem;
}
.value__accordion-item{
    background-color: var(--body-color);
    border: 2px solid --border-color;
    border-radius: .5rem;
    padding: 1rem .75rem;
}
.value__accordion-header{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.value__accordion-icon{
    background-color: var(--first-color-lighten);
    padding: 5px;
    border-radius: .25rem;
    font-size: 18px;
    color: var(--first-color);
    margin-right: .75rem;
    transition: .3s;
}
.value__accordion-title{
    font-size: var(--small-font-size);
}
.value__accordion-arrow{
    display: inline-flex;
    background-color: var(--first-color-lighten);
    padding: .25rem;
    color: var(--first-color);
    border-radius: 2px;
    font-size: 10px;
    margin-left: auto;
    transition: .3s;
}
.value__accordion-arrow i{
    transition: .4s;
}
.value__accordion-description{
    font-size: var(--smaller-font-size);
    padding: 1.25rem 2.5rem 0 2.75rem;
}
.value__accordion-content{
    overflow: hidden;
    height: 0;
    transition: all .25s ease;
}

/*Rotat icon & shadows*/
.accordion-open{
    box-shadow: 0 12px 32px hsla(228, 66%, 45%, .1);
}
.accordion-open .value__accordion-icon{
    box-shadow: 0 4px 4px hsla(228, 66%, 45%, .1);
}
.accordion-open .value__accordion-arrow{
    box-shadow: 0 4px 4px hsla(228, 66%, 45%, .1);
}
.accordion-open .value__accordion-arrow i{
    transform: rotate(-180deg);
}

/*Contact*/

.contact__container{
    row-gap: 2rem;
}
.contact__images{
    position: relative;
    display: flex;
    justify-content: center;
}
.contact__orbe{
    width: 266px;
    height: 316px;
    background-color: hsl(228, 24%, 97%);
    border-radius: 135px 135px 16px 16px;
}
.contact__img{
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
}
.contact__description{
    font-size: var(--small-font-size);
    margin-bottom: 2.5rem;
}
.contact__card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem .75rem
}
.contact__card-box{
    background-color: var(--body-color);
    border: 2px solid var(--border-color);
    padding: 1.25rem .75rem;
    border-radius: .5rem;
    transition: .3s;
}
.contact__card-info{
    display: flex;
    align-items: flex-start;
    column-gap: .75rem;
    margin-bottom: 1.25rem;
}
.contact__card i{
    padding: 6px;
    background-color: var(--first-color-lighten);
    border-radius: 6px;
    font-size: 1.25rem;
    color: var(--first-color);
}
.contact__card-title{
    font-size: var(--normal-font-size);
}
.contact__card-description{
    font-size: var(--smaller-font-size);
}
.contact__card-button{
    font-size: var(--small-font-size);
    padding: 14px 0;
    width: 100%;
    border-radius: .25rem;
    background: var(--first-color-lighten);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    box-shadow: none;
}
.contact__card-button:hover{
    background-color: var(--first-color);
    color: #fff;
}
.contact__card-box:hover{
    box-shadow: 0 8px 24px hsla(228, 66%, 45%, .1);
}

/*Slides*/

.slidee{
    transform: scale(0.75); /* Ajustez la valeur selon vos besoins (0.8 réduit de 20%) */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
    margin: 0;
}
.containe{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color: black;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-with: 480px){
    .containe{
        width:90vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}

/*Subscribe*/

.subscribe{
    padding: 2.5rem 0;
}
.subscribe__container{
    background-color: var(--first-color);
    padding: 3rem 2rem;
    border-radius: 1.25rem;
    border: 6px solid --first-color-light;
}
.subscribe__title{
    font-size: var(--h2-font-size);
    counter-reset: #fff;
    margin-bottom: 1rem;
}
.subscribe__description{
    color: white;
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}
.subscribe__button{
    border: 2px solid #fff;
    background: var(--first-color-light);
    font-size: var(--small-font-size);
}
.subscribe__button:hover{
    background-color: var(--first-color);
}

/*Testimony*/

.testimony{
        box-sizing: border-box;
        background-color: #e6e6e6;
        min-height: 100vh;
        font-family: 'Montserrat', sans-serif;
        display: flex;
}

.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
 }
  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px;
   }
 }
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
   }
 }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
   }
 }
  .blog-slider__item {
    display: flex;
    align-items: center;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__item {
      flex-direction: column;
   }
 }
  .blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
    transition-delay: 0.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
    transition-delay: 0.5s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
    transition-delay: 0.6s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
    transition-delay: 0.7s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
    transition-delay: 0.8s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
    transition-delay: 0.9s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
    transition-delay: 1s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
    transition-delay: 1.1s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
    transition-delay: 1.2s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
    transition-delay: 1.3s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
    transition-delay: 1.4s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
    transition-delay: 1.5s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
    transition-delay: 1.6s;
 }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
    transition-delay: 1.7s;
 }
  .blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-color: var(--body-color);
    box-shadow: 4px 13px 30px 1px rgba(179, 178, 178, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
 }
  .blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
 }
  .blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
   }
 }
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
   }
 }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
      height: 270px;
   }
 }
  .blog-slider__content {
    padding-right: 25px;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
   }
 }
  @media screen and (max-width: 576px) {
    .blog-slider__content {
      padding: 0;
   }
 }
  .blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
 }
  .blog-slider__code {
    color: #8a898f;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
 }
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
 }
  .blog-slider__text {
    color: #4e4a67;
    line-height: 1.5em;
 }

  @media screen and (max-width: 576px) {
    .blog-slider__button {
      width: 100%;
   }
 }
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
 }
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
   }
 }
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 5px;
   }
 }
  .blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
 }
  .blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--body-color);
    height: 30px;
    box-shadow: 0px 0px 20px rgba(92, 65, 65, 0.3);
 }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
      height: 11px;
      width: 30px;
   }
 }

/*Footer*/

.footer__container{
    row-gap: 2.5rem;
}
.footer__logo{
    color: var(--first-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-bottom: .75rem;
}
.footer__logo i{
    font-size: 1.25rem;
}

.footer__description,
.footer__link{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.footer__content,
.footer__links{
    display: grid;
}
.footer__content{
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 4rem;
}
.footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footer__link{
    color: var(--text-color);
    transition: .3s;
}
.footer__link:hover{
    color: var(--title-color);
}
.footer__social{
    display: flex;
    column-gap: 1rem;
}
.footer__social-link{
    font-size: 1.25rem;
    color: var(--text-color);
    transition: .3s;
}
.footer__social-link:hover{
    color: var(--title-color);
}
.footer__info, .footer__privacy{
    display: flex;
}
.footer__info{
    justify-content: center;
    padding-bottom: 6rem;
    margin-top: 5.5rem;
    flex-direction: center;
    row-gap: 1.5rem;
}
.footer__copy{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
}

/*Scrollbar*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(228, 8%, 76%);
}
::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(228, 8%, 64%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(228, 8%, 54%);
}

/*Scrollup*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: 6rem;
    background-color: var(--container-color);
    box-shadow: 0 8px 12px hsla(228, 55%, 30%, 0.1);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    color: var(--title-color);
    font-size: 1.25rem;
    z-index: var(--z-tooltip);
    transition: .3s;
}
.scrollup:hover{
    transform: translateY(-.25rem);
    color: var(--first-color);
}

/*Breakpoint*/
@media screen and (max-width: 350px) {
    .home__description{
        width: 240px;
    }
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .section{
        padding: 3.5rem 0 1rem;
    }
    .home{
        padding-bottom: 0;
    }
    .contact__card{
        grid-template-columns: repeat(1, 180px);
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .home__search {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .home__search input[type="search"],
    .home__search button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
@media screen and (max-width: 320px) {
    .home__search {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .home__search input[type="search"],
    .home__search button {
      width: 100%; /* Ajustez la largeur des éléments du formulaire */
      margin-bottom: 5px; /* Ajoute de l'espace entre les éléments du formulaire */
    }
  }
  
@media screen and (max-width: 320px) {
    .nav__menu{
        padding: 1.3rem 1.5rem;
    }
    .home__value{
        columns: 1rem;
    }
    .home__description{
        width: 200px;
    }

    .home__img{
        width: 220px;
        height: 280px;
    }
    .logos__container{
        gap: 2rem 1rem;
    }
    .popular__card{
        width: 230px;
        padding: .5rem .5rem .75rem;
    }
    .value__img,
    .contact__img {
        width: 220px;
        height: 260px;
    }
    .value__orbe,
    .contact__orbe {
        width: 236px;
        height: 280px;
    }
    .contact__card-box{
        display: inline-block;
    }
    .subscribe__container{
        padding: 2rem 1rem;
    }
    .footer__content{
        gap: 2.5rem;
    }
}


/*medium device*/
@media screen and (min-width: 576px) {
    .nav__menu{
        width: 342px;
    }
    .home__search{
        width: 412px;
    }
    .contact__card{
        grid-template-columns: repeat(2, 192px);
        justify-content: center;
    }
    .footer__content{
        grid-template-columns: repeat(3, max-content);
    }
}
@media screen and (min-width: 767px) {
    .home__container{
        grid-template-columns: repeat(2, 1fr);
        padding-top: 2rem;
    }
    .home__orbe{
        align-self: flex-end;
    }
    .home__data{
        padding-bottom: 2rem;
    }
    .logos__container{
        grid-template-columns: repeat(4, max-content);
        justify-content: center;
    }
    .value__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .contact__images{
        order: 1;
    }
    .contact__card{
        justify-content: initial;
    }
    .contact__container{
        display: block;
    }
    .subscribe__container{
        padding: 3rem 13rem;
    }
    .footer__container{
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
}

/*Large devices*/
@media screen  and (min-width: 1023px) {
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__menu{
        width: initial;
        margin-left: auto;
    }
    .nav__list{
        display: flex;
        column-gap: 3rem;
    }
    .nav__link{
        color: var(--text-color-light);
    }
    .nav__link i{
        display: none;
    }
    .nav__button{
        display: inline-block;
    }
    .active-link{
        background: none;
        box-shadow: none;
        color: var(--first-color);
        font-weight: var(--font-medium);
    }
    .change-theme{
        margin: 0 3rem;
        color: var(--text-color-light);
    }
    .scroll-header .nav_link,
    .scroll-header .change-theme{
        color: var(--text-color);
    }
    .scroll-header .active-link{
        color: var(--first-color);
    }
    .home{
        padding-bottom: 0;
    }
    .home__container{
        padding-top: 5rem;
        column-gap: 2rem;
    }
    .home__data{
        padding-bottom: 4rem;
    }
    .home__title{
        margin-bottom: 2rem;
    }
    .home__description,
    .home__search{
        margin-bottom: 3rem;
    }
    .home__value{
        column-gap: 3.5rem;
    }
    .home__orbe{
        width: 504px;
        height: 611px;
        border-radius: 256px 256px 0 0;
    }
    .home__img{
        width: 472px;
        height: 634px;
        border-radius: 256px 256px 12px 12px;
        bottom: -2.5rem;
    }
    .logos__img img{
        height: 100px;
    }
    .value__container,
    .contact__container{
        align-items: flex-start;
        column-gap: 5rem;
    }
    .contact__container {
        display: flex;
        flex-direction: row-reverse;
      }
    .value__orbe,
    .contact__orbe{
        width: 501px;
        height: 641px;
        border-radius: 258px 258px 16px 16px;
    }
    .value__img,
    .contact__img{
        width: 461px;
        height: 601px;
        border-radius: 238px 238px 12px 12px;
    }
    .value__img img,
    .contact__img img{
        max-width: initial;
        width: 490px;
    }
    .value__description,
    .contact__description{
        font-size: var(--normal-font-size);
        margin-bottom: 2.5rem;
    }
    .value__accordion-title{
        font-size: var(--normal-font-size);
    }
    .value__accordion-item{
        padding: 1.25rem 1.25rem 1.25rem 1rem ;
    }
    .value__accordion-description{
        padding-bottom: 1rem;
        font-size: var(--small-font-size);
    }
    .contact__card{
        grid-template-columns: repeat(2, 200px);
    }
    .contact__card-box{
        padding: 28px 1.5rem 1.5rem;
    }

    .subscribe {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      
      .subscribe__container {
        text-align: center;
      }
      
    .subscribe__container{
        border-radius: 2rem;
        border: 12px solid var(--first-color-light);
    }
    .subscribe__title{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .subscribe__description{
        font-size: var(--normal-font-size);
        padding: 2 8rem ;
    }
    .subscribe__button{
        font-size: var(--normal-font-size);
    }
    .footer__content{
        grid-template-columns: repeat(4, max-content);
    }
    .footer__title{
        margin-bottom: 1.5rem;
    }
    .footer__link{
        row-gap: 1rem;
    }
    .footer__info{
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2rem;
    }
    .show-scroll{
        bottom: 3rem;
        right: 3rem;
    }
}
@media screen and(min-width: 1040) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .home__container{
        column-gap: 4rem;
    }
}

/*2K & 4k resolution*/
@media screen and (min-width: 2048px) {
    body{
        zoom: 1.5;
    }
}
@media screen and (min-width: 3840px) {
    body{
        zoom: 2;
    }
}